.select {
  margin-top: 20px;
  width: 100%;

  > ul {
    margin: 0 auto;
    width: 85%;
    padding: 0;
    display: flex;
    justify-content: space-around;

    li {
      > button {
        cursor: pointer;
        border-radius: 20px;
        padding: 10px 15px;
        border: 0;
        color: #656565;
        background-color: #ffcbaf;
      }

      .select_item.active {
        color: white;
        background-color: #f45852;
      }
    }
  }
}

.community {
  margin-top: 30px;

  .ul2 {
    width: 85%;
    margin: 0 auto;
    overflow: auto;
    max-height: 470px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3.5px;
      background-color: #ffcbaf;

      &:hover {
        background-color: #f45852;
      }
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    li {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #656565;

      .p_flex {
        margin: 5px 0;
        display: flex;
        align-items: center;

        > span {
          margin-right: 15px;
        }
      }

      p:nth-of-type(2) {
        span {
          float: right;
          position: relative;

          &::before {
            top: 3px;
            right: 30px;
            position: absolute;
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../../../public/imges/icon_heart.png") no-repeat;
          }
        }
      }

      .div_flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
          margin-right: 3px;
        }
        button {
          border: 0;
          background: none;
          padding: 1px 2px;
        }
        span {
          button {
            border: 0;
            background: none;

            .displaynone {
              display: none;
            }
          }

          button.active {
            .displayyes {
              display: none;
            }

            .displaynone {
              display: block;
            }
          }
        }
      }

      .reply_ul {
        display: none;
        > form {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 10px;
          p {
            width: 100%;
          }
          textarea {
            width: 98%;
          }
        }
        .contents_button {
          width: 100%;
          border: 1px solid #f45852;
          border-radius: 20px;
          padding: 5px 25px;
          background-color: #f45852;
          color: #ffffff;
        }
      }
      .reply_ul.active {
        display: block;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    button.active {
      color: #f45852;
    }

    button {
      cursor: pointer;
      background-color: #ffdf8c;
      color: #656565;
      border: 0;
      border-radius: 20px;
      display: flex;

      align-items: center;
      justify-content: center;
    }
  }
}
