@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Cafe24Ssurround';
    font-weight: normal;
}
html{
    max-width: 480px;
    margin: 0 auto;
}
body{
    max-width: 480px;
    position: relative;
    margin: 0;
}
a{
    text-decoration:none ;
    list-style: none;
}
.head{
    background-color: #FFDF8C;
    padding: 0 50px;
}
.h-line{
    width: 100%;
    margin-top: 15px;
}
.foot{
   padding: 0 50px 45px;
    background-color: #FFDF8C;
}
.f-line{
    width: 100%;
    margin-bottom: 30px;
}
.f-link{
    padding: 0 40px;
}
.f-a{
    margin-right: 10px;
}